@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Custom Utility Classes that Tailwind doesn't support by default or need override */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

/* Custom Range Slider Styling */
input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

/* Height fix for mobile browsers */
.h-dvh {
    height: 100vh; /* Fallback */
    height: 100dvh;
}

/* Force tabular numbers to prevent jitter in timer */
.font-timer {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}

/* Circle Timer Transition */
#progress-circle {
    transition: stroke-dashoffset 1s linear;
}
